.background-color{
    -fx-fill: rgb(45,54,66);
}
.background{
    -fx-fill: rgb(45,54,66);
    -fx-arc-width:4;
    -fx-arc-height:4;
    -fx-border-color: rgb(44,49,61);
}
.shadow{
    -fx-arc-width:10;
    -fx-arc-height: 10;
}
.close{
    -fx-background-image:url("close.png");
    -fx-background-repeat:no-repeat;
}
.close:hover{
    -fx-background-image:url("close-hover.png");
}
.minimize{
    -fx-background-image:url("minimize.png");
    -fx-background-repeat:no-repeat;
}
.minimize:hover{
    -fx-background-image:url("minimize-hover.png");
}
.title-bar{
    -fx-background-color: transparent;
}
.title{
    -fx-text-fill:black;
    -fx-fill: transparent;
}
.maximize{
    -fx-background-image:url("maximize.png");
    -fx-background-repeat:no-repeat;
}
.maximize:hover{
    -fx-background-image:url("maximize-hover.png");
}
.restore{
    -fx-background-image:url("restore.png");
    -fx-background-repeat:no-repeat;
}
.restore:hover{
    -fx-background-image:url("restore-hover.png");
}

.fullscreen{
    -fx-background-image:url("fullscreen.png");
    -fx-background-repeat:no-repeat;
}
.fullscreen:hover{
    -fx-background-image:url("fullscreen-hover.png");
}
.unfullscreen{
    -fx-background-image:url("unfullscreen.png");
    -fx-background-repeat:no-repeat;
}
.unfullscreen:hover{
    -fx-background-image:url("unfullscreen-hover.png");
}
.drag{
    -fx-background-image:url("resizeSE.png");
    -fx-background-repeat:no-repeat;
}
.icon{
    -fx-background-image:url("icon.png");
}
.extend{
    -fx-background-color: transparent;
}
.dock{
    -fx-pref-width:20;
    -fx-pref-height:20;
    -fx-background-repeat:no-repeat;
    -fx-background-color:transparent;
}
.dock-left{
    -fx-background-image:url("dock-left.png");
}

.dock-right{
    -fx-background-image:url("dock-right.png");
}
.dock-top{
    -fx-background-image:url("dock-top.png");
}
.dock:hover{
    -fx-background-color:rgba(153,217,234,0.3);
    -fx-border-color: rgba(153,217,234,0.8);
}
.dock-left-selected{
    -fx-background-image:url("dock-left-hover.png");
}
.dock-right-selected{
    -fx-background-image:url("dock-right-hover.png");
}
.dock-top-selected{
    -fx-background-image:url("dock-top-hover.png");
}